body {
  background-color: #fdf1d6;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  line-height: 1.5rem;
}

article {
  background-color: #fdfaf3;
  margin: -1rem 15vw 0 15vw;
  padding: 4rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 7rem;
  margin-top: auto;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

li, p {
  margin-top: 0.5rem;
}

.edit-page {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #6b4fbb;
  bottom: 0px;
  width: 16rem;
  border-radius: 25px 25px 0px 0px;
  text-align: center;

  a#edit-page-link {
      color: #fff;
      text-decoration: none;
  }
}
